@import './shared.css';

img {
  margin-top: 20px;
  width: 280px;
  height: 280px;
  border: -30px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 0 8px 6px -7px rgb(84, 84, 84);
}

.nav-bar {
  padding-top: 90px;
  /* padding-bottom: 30px; */
  background-color: var(--powder-blue);
  box-shadow: 0 8px 6px -9px rgb(84, 84, 84);
  font-family: 'Poiret One', cursive;
  font-size: 32pt;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px dashed white;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
}
.link-wrap1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 50%;
}

.link-wrap2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 50%;
}

.nav-link {
  flex-shrink: 0;
  height: 55px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid white;
}

.nav-shadow {
  position: relative;
}
.nav-shadow:before,
.nav-shadow:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 400px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.nav-shadow:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.nav-bar .fas {
  display: none;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: white;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: var(--light-pink);
}

/* selected link */
a:active {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1000px) {
  .link-wrap1 {
    justify-content: center;
    width: 50%;
    padding-bottom: 50px;
  }
  .link-wrap2 {
    justify-content: center;
    width: 50%;
    padding-bottom: 50px;
  }
  .nav-bar {
    padding-bottom: 6%;
    padding-top: 16%;
  }
}

@media screen and (max-width: 700px) {
  .link-wrap1 {
    padding-bottom: 0;
  }

  .link-wrap2 {
    padding-bottom: 0;
  }

  .nav-link {
    display: none;
  }

  .nav-bar img {
    width: 210px;
    height: 210px;
  }

  .nav-bar .fas {
    display: block;
    flex-shrink: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    flex-basis: 90px;
    font-size: 22pt;
  }

  .nav-bar {
    margin-top: 0;
    padding-top: 16%;
    padding-bottom: 10%;
    width: 100vw;
  }
}
