/* https://www.canva.com/design/DAEL66iIRTI/byOjvOyGGNMc_ieb47QARQ/view?utm_content=DAEL66iIRTI&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink */
/* Colors Exported Palette - https://coolors.co/faf096-61c0bf-c5f8c8-fae3d9-ffb6b9 */
/* CSS HSL */
:root {
  --green-yellow-crayola: hsla(54, 91%, 78%, 1);
  --powder-blue: hsla(178, 43%, 84%, 1);
  --tea-green: hsla(124, 78%, 87%, 1);
  --champagne-pink: hsla(18, 77%, 92%, 1);
  --light-pink: hsla(358, 100%, 86%, 1);
  --black-shadow: rgba(2, 2, 2, 0.098);
  --dark-purple: rgb(60, 16, 16);
}

/* 
--dark-purple: rgb(31, 4, 14);
--green-yellow-crayola: #faf096ff;
--powder-blue: #c5e8e7ff;
--tea-green: #c5f8c8ff;
--champagne-pink: #fae3d9ff;
--light-pink: #ffb6b9ff; 
*/
