@import './palette.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* body {
  background-color: var(--tea-green);
} */

.grid {
  /* position: absolute; */
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-rows: 200px auto 100px;
  grid-template-areas:
    'nav nav nav'
    'left-side body right-side'
    'foot foot foot';
}

.nav-bar {
  grid-area: nav;
}

.single-page-body {
  grid-area: body;
}

.footer {
  grid-area: foot;
}
