<!-- Page Footer -->
<div class="footer footer-shadow">

  <!-- Social Media Links -->
  <div class="social-media">
    <a href="https://www.facebook.com/munamiicupcakes/" class="fab sm fa-facebook-square"></a>
    <a href="https://www.instagram.com/munamii.cakery/?hl=en" class="fab sm fa-instagram"></a>
  </div>

  <!-- Copyright Text -->
  <div class="footer-text">
    <span>Munamii</span><br>
    <span class="copyright">&#169; 2020</span>
  </div>

  <!-- Mailing Links -->
  <div class="social-media">
    <a href="mailto:softwaredevelopmentacademy@gmail.com" class="footer-mail far sm fa-envelope"></a>
    <a href="#" class="footer-mail far sm fa-newspaper"></a>
  </div>
</div>

<!-- Script tag as this will always be the end of the body -->
<script src="../../mailing-list.js"></script>