<div class="footer footer-shadow">
  <div class="social-media"><a href="https://www.facebook.com/munamiicupcakes/" class="fab sm fa-facebook-square"></a>
    <a href="https://www.instagram.com/munamii.cakery/?hl=en" class="fab sm fa-instagram"></a></div>

  <div class="footer-text">
    <span>Munamii</span><br>
    <span class="copyright">&#169; 2020</span>
  </div>
  <a href="mailto:softwaredevelopmentacademy@gmail.com" class="footer-mail far fa-envelope"></a>
</div>