<!-- Navigation Bar -->
<div class="nav-bar nav-shadow">

  <!-- Left Side Links -->
  <div class="link-wrap1">
    <a href="/"><i class="fas fa-home"></i></a>
    <a href="/products"><i class="fas fa-store"></i></a>
    <a href="/" class="nav-link">Home</a>
    <a href="/products" class="nav-link">Products</a>
  </div>

  <!-- Logo -->
  <div><img src="../img/logos/logo.png" alt="logo"></div>

  <!-- Right Side Links -->
  <div class="link-wrap2">
    <a href="/about"><i class="fas fa-info"></i></a>
    <a href="/contact"><i class="fas fa-comment-dots"></i></a>
    <a href="/about" class="nav-link">About</a>
    <a href="/contact" class="nav-link">Contact Us</a>
  </div>

</div>