<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://kit.fontawesome.com/8284160124.js" crossorigin="anonymous"></script>
  <title>Munamii</title>
</head>

<body>
  <div class="grid">
    <div class="nav-bar nav-shadow">
      <div class="link-wrap">
        <i class="fas fa-home"></i>
        <i class="fas fa-store"></i>
        <div class="nav-link">Home</div>
        <div class="nav-link">Products</div>
      </div>
      <div><img src="../img/logo.png" alt="logo"></div>
      <div class="link-wrap">
        <i class="fas fa-info"></i>
        <i class="fas fa-comment-dots"></i>
        <div class="nav-link">About</div>
        <div class="nav-link">Contact Us</div>
      </div>
    </div>

    <div class="single-page-body about-body single-page-grid">
      <div class="single-page-card">
        <p>At Munamii Cakery,</p>
        <p>
          Our delectable treats are marvellously crafted with the finest ingredients, love
          and a touch of sparkle.
          Each handmade creation will add colour and finesse to your special occasion,
          making it unforgettable.
        </p>
        <p>Our chef pâtissier has been crafting some of the most memorable cakes and
          cupcakes to a range of clients for almost a decade, available now to you our valued customer at the click of a
          button.</p>
      </div>
    </div>

    <div class="footer footer-shadow">
      <div></div>
    </div>
  </div>
</body>

</html>