<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>
  <div class="grid">

    <%- include('./partials/nav.ejs')  %>

    <div class="single-page-body about-body single-page-grid">
      <div class="single-page-card">
        <p>At Munamii Cakery,</p>
        <p>
          Our delectable treats are marvelously crafted with the finest ingredients, love
          and a touch of sparkle.
          Each handmade creation will add colour and finesse to your special occasion,
          making it unforgettable.
        </p>
        <p>Our chef pâtissier has been crafting some of the most memorable cakes and
          cupcakes to a range of clients for almost a decade. Available now to you, our valued patron, at your
          fingertips.</p>
      </div>
    </div>

    <%- include('./partials/footer.ejs')  %>

  </div>
</body>

</html>