<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>

  <div class="grid">

    <%- include('./partials/nav.ejs')  %>

    <div class="contact-page-body effect7 contact-body contact-page-grid">

      <div class="contact-page-card">

        <p>Lets talk cake.</p>
        <p>
          Home Delivery:<br>
          To all of Stockholm and Malmo.
        </p>
        <p>Collection:<br>
          Via la Costa Avenue. Blue Port gated neighborhood. A GPS location will be sent via Whatsapp.
        </p>
        <p>Processing time:<br>
          Orders are usually fulfilled within two working days.</p>
        <div class="contact-links">
          <a class="cl" href="tel:46-555-5555"><i class="fas fa-mobile-alt"></i> +46 555-5555</a>
          <a class="cl" href="mailto:softwaredevelopmentacademy@gmail.com"><i class="far fa-envelope"></i>
            info@munamii.fake</a>
          <a class="cl" href="https://api.whatsapp.com/send?phone=46555555"><i class="fab fa-whatsapp-square"></i>
            Chat
            on Whatsapp</a>
        </div>
        <p>Tuesday to Saturday<br>9 am. to 2 pm.</p>

      </div>

    </div>


    <%- include('./partials/footer.ejs')  %>
  </div>
  </div>
</body>

</html>