<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://kit.fontawesome.com/8284160124.js" crossorigin="anonymous"></script>
  <title>Munamii</title>
</head>

<body>
  <div class="grid">
    <div class="nav-bar nav-shadow">
      <div class="link-wrap">
        <i class="fas fa-home"></i>
        <i class="fas fa-store"></i>
        <div class="nav-link">Home</div>
        <div class="nav-link">Products</div>
      </div>
      <div><img src="../img/logo.png" alt="logo"></div>
      <div class="link-wrap">
        <i class="fas fa-info"></i>
        <i class="fas fa-comment-dots"></i>
        <div class="nav-link">About</div>
        <div class="nav-link">Contact Us</div>
      </div>
    </div>

    <div class="homepage-body homepage-grid">
      <div class="home-page-card">
        <p>Welcome to Munamii</p>
        <p>
          Discover an assortment of delightfully scrumptious cupcakes and cakes for that special occasion, or to
          simply indulge in private.
        </p>
        <p>From our
          home to yours, our beautiful creations are just a few clicks away.</p>
      </div>
    </div>

    <div class="footer footer-shadow">
      <div></div>
    </div>
  </div>
</body>

</html>