<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>
  <div class="grid">

    <%- include('./partials/nav.ejs')  %>

    <div class="products-body products-grid">

      <div class="item1 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item2 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item3 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item4 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item5 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item6 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item7 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item8 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>

      <div class="item9 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item10 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item11 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item12 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item13 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item14 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item15 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>
      <div class="item16 item-all">
        <div class="item-text"><span>Name</span><span>Kr: 129</span></div>
      </div>

    </div>

    <%- include('./partials/footer.ejs')  %>

  </div>
</body>

</html>