<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>
  <div class="grid">

    <%- include('./partials/nav.ejs')  %>

    <div class="products-body products-grid">

      <div class="grid-cupcake-spacer product-spacer">Cupcakes</div>
      <div class="item1 item-all">
        <div class="item-text"><span>Raspberry Seduction</span><span>Kr: 49</span></div>
      </div>
      <div class="item2 item-all">
        <div class="item-text"><span>Pecan Nut Fantasy </span><span>Kr: 39</span></div>
      </div>
      <div class="item3 item-all">
        <div class="item-text"><span>Fancy Fruit</span><span>Kr: 49</span></div>
      </div>
      <div class="item4 item-all">
        <div class="item-text"><span>ChocMint Supreme</span><span>Kr: 39</span></div>
      </div>
      <div class="item5 item-all">
        <div class="item-text"><span>Sparkle Sunday</span><span>Kr: 39</span></div>
      </div>
      <div class="item6 item-all">
        <div class="item-text"><span>Red Velvet Cream</span><span>Kr: 49</span></div>
      </div>
      <div class="item7 item-all">
        <div class="item-text"><span>Unicorn Dreams</span><span>Kr: 49</span></div>
      </div>
      <div class="item8 item-all">
        <div class="item-text"><span>Fudgetastic</span><span>Kr: 39</span></div>
      </div>

      <div class="grid-cake-spacer product-spacer">Cakes</div>

      <div class="item9 item-all">
        <div class="item-text"><span>Lavender Fields</span><span>Kr: 1299</span></div>
      </div>
      <div class="item10 item-all">
        <div class="item-text"><span>At the Carnival</span><span>Kr: 1199</span></div>
      </div>
      <div class="item11 item-all">
        <div class="item-text"><span>The Marshmallow</span><span>Kr: 1199</span></div>
      </div>
      <div class="item12 item-all">
        <div class="item-text"><span>Berry Crescent</span><span>Kr: 999</span></div>
      </div>
      <div class="item13 item-all">
        <div class="item-text"><span>Pink Peony</span><span>Kr: 2499</span></div>
      </div>
      <div class="item14 item-all">
        <div class="item-text"><span>Forest Daydream</span><span>Kr: 1999</span></div>
      </div>
      <div class="item15 item-all">
        <div class="item-text"><span>Star Crust</span><span>Kr: 999</span></div>
      </div>
      <div class="item16 item-all">
        <div class="item-text"><span>Simplicity</span><span>Kr: 1399</span></div>
      </div>

    </div>

    <%- include('./partials/footer.ejs')  %>

  </div>
</body>

</html>